.release-div{
    max-width:850px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
    display:flex;
    flex-direction: row;
}

.release-title{
    margin-top: 50px;
    margin-bottom: 30px;
}