.main-checkout {
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
}

.main-checkout img {
    max-width: 80%;
    margin: auto;
    border-radius: 2%;
}


@media screen and (max-width:500px) {
    .main-checkout {
        margin-top: 250px;
    }
    .main-checkout img {
        max-width: 95%;
    }
}    