.icon-list{
 display:flex;
 max-width:650px;
 justify-content: space-around;

}


.icon-list img{
 width:50px;
}

.profile-image{
    width:150px;
    border-radius: 50%;
}


.main-contact-div{
    display: flex;
    flex-direction: column;
    max-width:650px;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
    background-color: yellow;
}


.contact-div{
    max-width:650px;
    text-align: left;
    display:flex;
    justify-content:space-between;
    padding:15px;
    color:black;
    font-size: 18px;
}