* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #2b3175;
    align-items: center;
    padding-left: 25%;
    padding-right: 30%;
    height:80px;
    width:100%;
    position: fixed;
    top:0;
    z-index: 1;
}

.menu-list {
    display: flex;
    list-style-type: none;
    color: white;
    width: 600px;
}

.menu-list li {
    padding: 5%;
    list-style: none;
    color:white;
    line-height: 15px;
}

.LinkTag{
    list-style: none;
    color:white;
    text-decoration: none;
    transition: all 2s;
}
.LinkTag:hover{
    text-decoration: underline;
}

.cart-div{
    background-color: white;
    width:55px;
    height:55px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s;
    border: solid 5px transparent;
}

.cart-div:hover .cartImage {
    transform: scale(1.02); 
    background-color: #8089f3;
}
.cart-div:hover {
    background-color: #8089f3;
}

.cartImage {
    background-color:white;
    width: 35px;
    margin-top:6px;
    padding:1px;
    transition: all 0.3s;
}

.clickedClass{
    border:solid 2px white; 
    background-color:#2b3175;
    scale:0.9;
}
.clickedClass2{
    background-color:#2b3175;
    transform: scale(0.9); 
}