.main-carousel-div {
    max-width: 900px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
}

.inner-carousel {
    display: flex;
    flex-direction: row;
    transition: all 1s;
}

.arrow-buttons {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
    cursor: pointer;
    position: absolute;
    justify-content: space-between;
    margin-top: 225px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

.arrow-left,
.arrow-right {
    padding-top: 8px;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.596);
    transition: all 0.2s;
    opacity: 0.5;
}

.arrow-left {
    padding-left: 5px;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgb(168, 168, 168);
    opacity: 1;
}

.clickedLeftClass,
.clickedRightClass {
    scale: 1.5
}

.home-title {
    padding: 20px;
}

.circle-buttons {
    display: flex;
    width: 150px;
    margin: auto;
    cursor: pointer;
    margin-top: 10px;
    justify-content: space-between;
    opacity: 0.8;
}

.main-page-title{
font-family: 'Permanent Marker', cursive;
font-size: 30px;
}


@media screen and (max-width:500px) {
    .home-title {
        margin-top: 180px;
        margin-bottom: -120px;
    }
    .circle-buttons {
        margin-top: -100px;
    }
}    