.main-footer{
        background-color: #2b3175;
        align-items: center;
        text-align: center;
        margin-top: 500px;
}

.images-footer{
    align-items: center;
    text-align: center;
    background-color: #2b3175;
    cursor:pointer;
    display:flex;
    width: 200px;
    margin: auto;
    padding-top:15px;
    padding-bottom:30px;
    justify-content: space-between;
    transition: all 1s;
}

.cartImg{
    background-color: #2b3175;
    cursor:pointer;
    width:40px;
    transition: all 1s;
}
