* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-color: rgb(207, 207, 207);
}


.main-body{
  margin-top: 120px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.scroll-button{
  display:flex;
 position:fixed;
transition: all 0.2s ease-in;
width:50px;
height:50px;
background-color: white;
opacity:0.5;
cursor: pointer;
align-items: center;
text-align: center;
border-radius: 50%;
padding-top: 2px;
padding-left: 13px;
z-index: 2;
top:50%;
margin-left: 100%;
}

.scroll-button:hover{
opacity:1;
scale:1.2;
}

.scrolled{
  margin-left: 90%;
}

@media screen and (max-width:500px) {
  .scrolled{
    margin-left: 80%;
  }
}