.itemRelease {
    width: 250px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    justify-content: space-between;
    margin: 5px;
}

.itemRelease-image {
    width: 80%;
    height: 60%;
    object-fit: contain;
    padding: 15px;
}

.releaseButton {
    color: blue;
    font-size: 15px;
    font-weight: bold;
    border: solid 2px rgb(10, 10, 202);
    background-color: white;
    border-radius: 8px;
    transition: all 0.2s;
    width: 150px;
    height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.releaseButton:hover {
    color: white;
    background-color: rgb(10, 10, 202);
}

.release-details {
    text-decoration: none;
}

.rating {
    width: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 8px;
}

.rating-image {
    width: 15px;
    margin-bottom: 5px;
}

.bottom-release {
    margin-top: 15px;
}

@media screen and (max-width:500px) {
    .itemRelease {
        margin-bottom: 10%;
    }
}